

.nav_container {
    display: flex;
    flex-direction: row;
    gap: 22rem;
    padding: 1.5rem 1rem;
    background-color: rgb(24, 24, 66);
    color: rgb(195, 218, 224);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100%;
  }
  
  .nav_container a {
    color: rgb(195, 218, 224);
  }
  
  @media screen and (max-width: 51.25em) {
    .nav_container {
      gap: 4rem;
      justify-content: center;
    }
  }
  @media screen and (max-width: 82.5625em) {
    .nav_container {
      gap: 16rem;
      justify-content: center;
    }
  }
  @media screen and (max-width: 65.625em) {
    .nav_container {
      gap: 5rem;
      justify-content: center;
    }
  }
  @media screen and (max-width: 44.25em) {
    .nav_container {
      gap: 1rem;
      justify-content: center;
    }
  }
  @media screen and (max-width: 35.9375em) {
    .nav_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  