.top{
    display:flex;
    flex-direction: row;
    gap:25rem;
    padding:1.5rem 0;
    background-color: rgb(24, 24, 66);
    color:rgb(195, 218, 224);
}
.top a{
    color:rgb(195, 218, 224);
}

@media screen and (max-width: 51.25em){
.top{
 gap:4rem;
}
}
@media screen and (max-width: 82.5625em){
    .top{
        gap:16rem;
    }
}
@media screen and (max-width: 65.625em){
   .top{
    gap:5rem;
   } 
} 
@media screen and (max-width: 44.25em){
    .top{
     gap:1rem;
    } 
 } 
 @media screen and (max-width: 35.9375em){
    .top{
     display:flex;
     flex-direction: column;
    } 
 } 
